test.txt
__pycache__
fox-marc-edited-old.aac
fox-marc-edited.aac
fox-marc-backup.aac
fox-marc.aac
fox-marc.state
log.txt
npr-senate-trial-01282020-edited.mp3
npr-senate-trial-01282020.mp3
npr-senate-trial-01282020.state
fox-marc-backup.aac
phil_collins_in_the_air_tonight.mp3
phil-backup.mp3
npr-senate-trial-01282020-backup.mp3
phil.mp3
output-original.mp4
output.state
phil-original.mp3
cnn-impeachment-developements-01122020-original.mp3
cnn-impeachment-developements-01122020.mp3
cnn-impeachment-developements-01122020.state
